{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "extends": ["plugin:@typescript-eslint/recommended"],
      "plugins": [ "@typescript-eslint" ],
      "rules": {
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/member-delimiter-style": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "react/prop-types": "off"
    }
    }
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false,
    "Cypress": false,
    "cy": true,
    "expect": true,
    "describe": true,
    "it": true,
    "context": true,
    "beforeEach": true
  },
  "settings": {
    "import/resolver": "babel-plugin-root-import"
  }
}
